:root {
    --color-primary: #1abc9c;
    --color-secondary-light: #3a546d;
    --color-secondary-dark: #2c3e50;
}

header {
    background-color: var(--color-secondary-dark);
}

#jumbotron {
    background-color: var(--color-primary);
}

#portfolio {
    background-color: white;
}

#about {
    background-color: var(--color-primary);
}

#contact {
    background-color: white;
}

#headerRight a {
    text-decoration: none;
}

.bar {
    height: 4px;
    border-radius: 2px;
}

.customBtn {
    border: 1px solid currentColor;
    padding: 0.5em 1em;
    text-decoration: none;
}

.greenBtn,
.greenBtn:hover,
.greenBtn:focus {
    background-color: var(--color-primary);
}

form > * {
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

form > *:focus {
    border-bottom: 1px solid var(--color-secondary-dark);
}

footer #info {
    background-color: var(--color-secondary-light);
}

footer #legalInfo {
    background-color: var(--color-secondary-dark);
}

.greenLink {
    color: var(--color-primary);
    text-decoration: none;
}

.socialLinks {
    width: 50px;
    height: 50px;
    text-align: center;
    border: 1px solid currentColor;
}